<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{this.title}}</h3>
    </div>
    <div class="panel-body">
      <div class="col-sm-6">
        <p><b>Year Released:</b> {{this.year}}</p>
        <p><b>IMDB Rating:</b>  {{this.rating}}</p>
        <p><b>Country of Origin:</b>  {{this.country}}</p>
        <p><b>Languages:</b> {{this.language}}</p>
        <p><b>Cast:</b> {{this.actors}}</p>
        <p><b>Plot Synopsis:</b> {{this.plot}}</p>
      </div>
      <div class="col-sm-6">
        <p><img src= {{this.poster}} class="img-responsive" alt="movie-poster"></p>
      </div>
    </div>
  </div>
</div>
