<p>The tweets of {{this.realName}}</p>
<p>Username: {{this.userName}}</p>
<p>Total tweets: {{this.tweetCount}}</p>
<p>Follower count: {{this.followerCount}}</p>
<p>Following count: {{this.followingCount}}</p>
